aicsimageio==4.14.0
cellpose==3.1.1.1
torch==2.6.0
matplotlib==3.10.1
napari==0.4.19.post1
nd2==0.10.2
numpy==1.26.4
opencv_python_headless==4.11.0.86
pyqt5==5.15.11 --config-settings --confirm-license=
pystackreg==0.2.8
python_igraph==0.11.8
scipy==1.15.2
tifffile==2023.2.28
roifile==2025.2.20
scikit_image==0.25.2
ome-types==0.6.0
pandas==2.2.3
imageio[ffmpeg]==2.37.0
